# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/

#random
nohup.out

# MD files
*xtc
*edr
*trr
.*npz
*cpt
*log
.*npz
*xvg
\#*
charmm-gui_*.tgz
job-*.err
job-*.out
# data/raw/*/md/*/*/*/*edr
# data/raw/*/md/*/*/*/*tpr
# data/raw/*/md/*/*/*/*log
# data/raw/*/md/*/*/*/*mdp
data/raw/*_try*/
md/
steered.err
steered.out
data/raw/exclude_list.txt
data/raw/dir_list.txt
string[1-9]*.txt
cv_iter*npy
postprocessing
core
data/raw/C2I_v1_amber/0_34beads/*/restrained/*tpr
data/raw/C2I_v1_amber/0_34beads/*/restrained/*log
data/raw/C2I_v1_amber/0_34beads/*/restrained/mdout.mdp
data/raw/C2I_v1_amber/0_save/
slurm_out/

data/raw/C2I_v1_amber_old/

build/

dist/

src.egg-info/
md.tar.gz

data/raw/C2I_v1_amber/0_34beads/9/restrained/grompp.mdp

notebooks/*-dev.ipynb

# Later remove
*png
*tga
*npy

data/processed/C2I_lb_v1/errors_100_5.npy
data/processed/C2I_lb_v1/errors_200_5.npy
data/processed/C2I_lb_v1/errors_20_5.npy
data/processed/C2I_lb_v1/errors_400_5.npy
data/processed/C2I_lb_v1/errors_50_5.npy
notebooks/string_analysis_FES-dev-Copy1.ipynb
notebooks/string_analysis_FES-dev-Copy2_test.ipynb
notebooks/string_analysis_FES-dev_test.ipynb
data/interim/C2I_lb_v1/cv_coordinates.npy
data/interim/C2I_lb_v1/cv_proj.npy
data/processed/C2I_lb_v1/FES_SF_IG.npy
data/processed/XRD/XRD.pickle
data/raw/C2I_v1_amber/topology/show_cv.tcl

data/raw/C2I_lb_v1/save/108
data/raw/C2I_lb_v1/save/400
notebooks/string_analysis_FES-dev_v1.ipynb
notebooks/string_analysis_FES-dev_v1_amber.ipynb
notebooks/string_analysis_FES-dev_v1_lb_amber_out.ipynb
notebooks/string_analysis_FES-dev_v1_lb_out.ipynb
notebooks/string_analysis_FES-Copy1.ipynb
data/raw/*/restarts/*/index.ndx
data/raw/*/restarts/*/mdout.mdp
data/raw/*/restarts/*/slurm.err
data/raw/*/restarts/*/slurm.out
data/raw/*/restarts/*/topol.top
data/raw/*/restarts/*/topol.tpr

data/processed/*/SF_occupation_data.pkl

notebooks/calculate_cvs-Copy1.ipynb

data/raw/C2I_v1/save
data/raw/C2I_v1/save
data/5VKH_25-122
data/5VKE*
